.container{
    padding:20px 10px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.desc{
    font-size:24px;
    color:gray;
    width:70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.title{
    color: #464342;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.wrapper{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}

.title2{
    margin-top:60px;
    margin-bottom:50px ;
    color: #464342;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.botun{
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 220px;
    height: 80px;
    border:none;
    border-radius: 10px;
    color: white;
    background-color:#D1411e;
}
.botun p{
    font-size: 25px;
    font-weight: bolder;
}

.botun:hover{
    transform: scale(1.1);
}


@media screen and (max-width:480px) {
   .title{
    text-align: center;
   }

   .desc{
    width: 90%;
    text-align: center;
   }
}