.container{
    height:calc(100vh - 100px);
    display:flex;
}
.left{
    flex:1;
    height:70%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.right{
    flex:1;
    padding: 20px;
    height: 750px;
    width: 500px;
}

.title{
    font-size: 40px;
    color: #464234;

}

.imgContainer
{
width:80%;
height:80%;
position:relative;
}

.price{
    color:#d1411e;
    font-size:27px;
    font-weight:bolder;
    border-bottom: 1px solid #d1411e;
}

.sizes{
    margin-top: 20px;
    width:25%;
    display: flex;
    justify-content: space-between;
}

.size{
    width:30px;
    height:30px;
    position:relative;
    cursor: pointer;
    transition-duration: 0.5s;
}

.size:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}


.size:nth-child(2){
   width:40px;
   height:40px; 
}

.size:last-child{
    height:55px;
    width:55px;
}

.number {
    position:absolute;
    top:-26px;
    right:-31px;
    background-color: teal;
    color:white;
    font-size:12px;
    padding:5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.choose{
    margin-top:55px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #464342;

}

.ingredients{
    display:flex;
    margin-bottom:20px;

}

.add{
    margin-top:50px;
}


.option{
    display:flex;
    align-items:center;
    margin-right:10px;
    font-size:14px;
    font-weight:bold;

}

.checkbox{
    width:30px;
    height:30px;
}

.quantity{
    width:40px;
    height:40px;
}

.button{
    height:50px;
    width: 130px;
    border-radius: 10px;
    margin-left:30px;
    background-color: #d1411e;
    color:white;
    border:none;
    font-weight: bold;
    cursor:pointer;
    transition-duration: 0.5s;
}

.button:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}


@media screen and (max-width:480px) {
    .container{
        height: auto;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .left,.right{
        width: 100%;
    }

    .title{
        width: 100%;
    }

    .imgContainer{
        width: 70vw;
        height: 60vw;
        margin-left: 40px;
    }

    .title{
        margin: 5px;
    }

    .choose{
        width: 100%;
    }

    .sizes{
        margin-top: 50px;
        width: 90%;
        padding: 0px 15px;
    }
    
    .ingredients{
        flex-direction: column;
    }

    .option{
        font-size: 15px;
        margin: 10px;
    }

    .checkbox{
        height: 25px;
        width: 25px;
    }

    .quantity, .button{
        height: 50px;
        padding: 10px 15px;
    }
}

